MYSQL_ROOT_PASSWORD=change-this-root-password
MYSQL_DATABASE=tirta_saas
MYSQL_USER=tirta_user
MYSQL_PASSWORD=change-this-app-password

JWT_SECRET=change-this-to-a-long-random-secret
AUTO_SEED_ADMIN=true
ENABLE_INVOICE_SCHEDULER=true
ENABLE_TRIAL_SCHEDULER=true
