DOMAIN_NAME=example.com

MYSQL_ROOT_PASSWORD=change-me
MYSQL_DATABASE=tirta_saas
MYSQL_USER=tirta
MYSQL_PASSWORD=change-me

JWT_SECRET=change-me
AUTO_SEED_ADMIN=false
ENABLE_INVOICE_SCHEDULER=true
ENABLE_TRIAL_SCHEDULER=true

BACKEND_IMAGE=ghcr.io/adipras/tirta-saas-backend:latest
FRONTEND_IMAGE=ghcr.io/adipras/tirta-saas-frontend:latest

MYSQL_IMAGE=mysql:8.0
NGINX_IMAGE=nginx:1.27-alpine
NETDATA_IMAGE=netdata/netdata:stable
NETDATA_HOSTNAME=tirta-vps
