VITE_API_BASE_URL=auto
VITE_API_LOCAL_ORIGIN=http://localhost:8081
VITE_API_PUBLIC_ORIGIN=
VITE_APP_NAME=Tirta SaaS
VITE_APP_VERSION=1.0.0
VITE_DEV_HOST=localhost
VITE_DEV_PORT=5174
VITE_PRINTER_BRIDGE_URL=http://127.0.0.1:3000
VITE_PRINTER_BRIDGE_MODE=auto
